* {
  margin: 0;
  padding: 0;
}

/* purpose start  */
.purpose {
  border: 1px solid #F1F1F1;
  padding: 20px;
  border-radius: 20px;
  margin: 20px 0;
}

.purpose h2{
  color: #020344;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;  
}

.purpose p{
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #020344;
  text-align: justify;
}
/* purpose end  */

/* mission start */

.mission {
  border: 1px solid #F1F1F1;
  border-radius: 20px;
  padding: 20px 10px;
  margin: 20px 0;
}
.mission_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mission_reason_text {
  font-weight: 600;
  color: black;
  padding: 10px 0;
  font-size: 20px;
  color: #020344;
}

.mission_title h2 {
  color: #020344;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.mission_title button {
  text-transform: uppercase;
  outline: none;
  font-size: 14px;
  border: 2px solid #020344;
  background: transparent;
  border-radius: 50px;
  padding: 10px 25px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  color: #020344;
  font-family: 'Lato', sans-serif;
}

.mission_title button:hover {
  background: #020344;
  color: white;
  border: 2px solid #020344;
}
.inner_item_wrapper {
  margin-bottom: 20px;
}

.mission_item {
  background: #020344;
  border-radius: 10px;
  padding: 20px;
  color: white;
}

.mission_item p {
  color: #c08d26;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.mission_item h2{
  font-family: 'Poppins', sans-serif;
}

.mission_item p:last-child {
  color: white;
}

/* mission end  */

/* chart start  */
/* .inner_chart_info {
} */

.inner_chart_info p {
  color: #9cd7ef;
  font-weight: 600;
}

.inner_chart_info h2 {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #020344;
}

.inner_chart_info ul {
  display: flex;
  margin-left: -30px;
  font-family: 'Poppins', sans-serif;
}

.inner_chart_info ul li {
  list-style-type: none;
  margin-right: 10px;
  color: #020344;
  font-weight: bold;
}

.inner_chart_info span {
  color: #ff9898;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

/* chart end  */
